* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f6f9;
    color: #333;
}

/* Navigation */
nav {
    background: #1f2937;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {
    background: linear-gradient(135deg, #1e1b4b, #312e81);
    color: white;
    padding: 120px 20px;
}

.hero-container {
    max-width: 1100px;
    margin: auto;
}

.hero-text {
    max-width: 650px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #c7d2fe;
}

.hero p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 18px;
    color: #e5e7eb;
}

.hero-buttons {
    margin-top: 30px;
}

.btn-primary {
    background: white;
    color: #1e1b4b;
    padding: 12px 22px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    margin-right: 15px;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background: #e0e7ff;
}

.btn-secondary {
    border: 2px solid #c7d2fe;
    color: #c7d2fe;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease;
}

.btn-secondary:hover {
    background: #c7d2fe;
    color: #1e1b4b;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}



.project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background-color: #111827;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s ease;
}

.project-link:hover {
    background-color: #4f46e5;
    transform: translateY(-2px);
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-container span {
    background: #4f46e5;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

#languages {
    padding: 80px 0;
    background-color: #f9fafb;
}

.section-container {
    max-width: 1000px;
    margin:0;
    padding-left: 20px;
}


#languages h2 {
    font-size: 28px;
    margin-bottom: 40px;
    color: #1e1b4b;
}

.language-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.language-item {
    border-left: 4px solid #4f46e5;
    padding-left: 20px;
}

.language-item h3 {
    margin-bottom: 6px;
    font-size: 18px;
    color: #111827;
}

.language-item p {
    font-size: 15px;
    color: #555;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #1f2937;
    color: white;
}

section {
    padding: 20px 0;   /* Same vertical spacing for ALL sections */
}

